.homeContainer {
  margin: 0;
  padding: 0;
  background-color: powderblue;
  min-height: 650px;
}

.headingText {
  font-size: 50px;
  text-align: center;
  padding: 50px;
  background-color: #003326;
  font-weight: bold;
  color: white;
}

.linkArea {
  margin-top: 20px;
  color: midnightblue;
  font-size: 30px;
  text-decoration: none;
  margin-left: 20px;
}